@inherits LayoutComponentBase
<NavMenu />
@Body
<div class="container border border-gray-700 mt-5">
    <div class="row">
        <div class="col-12">
            <footer>© 2022 Should be failing tests All Rights Reserved</footer>
        </div>
    </div>
</div>

